
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  input,
  textarea,
  trix-editor {
    padding: 0.5rem;
  }
  .form-field {
    margin-bottom: 0;
  }
  label {
    order: -1;
  }
}
label,
input,
button,
textarea,
trix-editor {
  transition: color 150ms,
              border-color 180ms,
              background-color 250ms;
}
label,
.label {
  font-size: 1em;
  font-weight: 600;
  color: gray(50);
  user-select: none;
}
label,
input,
textarea {
  display: block;
}
input,
button,
textarea,
trix-editor {
  border: 0;
  border: thin solid gray(70);
  background-color: gray(95);
  &:focus {
    outline: none;
    border-color: var(--color-secondary);
    background-color: white;
  }
}
input,
select,
textarea,
trix-editor {
  border-radius: 0.2rem;
  padding: 0.5rem 0;
  &[required] {
    ~ label {
      &:after {
        color: color(alert);
        content: "*";
        margin-left: 0.25em;
      }
    }
  }
}
textarea {
  resize: vertical;
  min-height: 8rem;
}
trix-editor {
  padding-bottom: 1.5rem;
}
textarea,
input[type="text"],
input[type="number"] {
  width: 100%;
}
.title {
  margin-bottom: 0;
  label,
  input {
    border: 0;
    letter-spacing: inherit;
    background-color: transparent;
    color: gray(40);
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
  }
}

.dropdown-container {
  &.drop-right {
    .dropdown {
      right: 0;
    }
  }
  &.full-width {
    .dropdown {
      width: 100%
    }
  }
}
.dropdown {
  max-height: 60vh;
  padding-top: 0.5rem !important;
}
.autocomplete-dropdown-menu {
  margin-top: 0.5rem !important;
}
.dropdown,
.autocomplete-dropdown-menu {
  top: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: z(dropdown);
  background-color: $white;
  box-shadow: 0 0.75em 0.75em -0.5em rgba(0,0,0,0.1);
  li {
    + li {
      border-top: thin solid gray(90);
    }
    &:hover {
      color: color(primary);
      background-color: gray(80);
      border-color: transparent;
      cursor: pointer;
    }
    &:active,
    &.active,
    .active {
      color: $white;
      cursor: default;
      background-color: transparentize(color(primary), 0.3);
      *, * * {
        color: inherit;
      }
    }
  }
}
.autocomplete-suggestion {
  padding: 0.5rem 0.75rem !important;
}

.required {
  h3,
  label {
    // We have empty labels with <slot> in them in our markup, so making sure they aren't empty first
    &:not(:empty) {
      &:after {
        color: lighten(color(alert), 10%) !important;
        content: "*";
        margin-left: 0.25em;
      }
    }
  }
}

.required-warning {
  color: lighten(color(alert), 10%) !important;

  input,
  textarea {
    border: 1px solid lighten(color(alert), 10%) !important;
    &::placeholder {
      color: lighten(color(alert), 10%) !important;
    }
  }
  label,
  h3 {
    color: lighten(color(alert), 10%) !important;
  }
}
